@font-face {
  font-family: "iconfont"; /* Project id  */
  src: url('iconfont.ttf?t=1622206651509') format('truetype');
}

.iconfont {
  font-family: "iconfont" !important;
  font-size: 16px;
  font-style: normal;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon-Tabbar_classify_sel:before {
  content: "\e642";
}

.icon-cart:before {
  content: "\e508";
}

.icon-eye:before {
  content: "\e7b8";
}

.icon-home-icon:before {
  content: "\e60e";
}

.icon-tianwuliyoutuihuo:before {
  content: "\e610";
}

.icon-UE:before {
  content: "\e750";
}

.icon-shigongtushejix:before {
  content: "\e6b3";
}

.icon-jinhuoche:before {
  content: "\e60f";
}

.icon-sousuo:before {
  content: "\e64a";
}

.icon-user:before {
  content: "\e62c";
}

.icon-xiaoxi-saoyisao:before {
  content: "\e631";
}

